<div class="m-4">
    
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="/news/store">
                <div class="form-group">
                    <label for="postTitle" class="font-weight-bold">Title</label>
                    <input name="title" type="text" class="form-control" id="postTitle" placeholder="Enter your post title">
                </div>
                <div class="form-group pt-3">
                    <label for="postContent" class="font-weight-bold">Content</label>
                    <textarea name="content" class="form-control" id="postContent" rows="4" placeholder="Enter your post content"></textarea>
                </div>
                <div class="form-group pt-3">
                    <label for="postCategory">Category</label>
                    <select class="form-control" name="category" id="postCategory">
                        <option value="Sport">Sport</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Society">Society</option>
                        <option value="Politic">Politic</option>
                    </select>
                </div>
                <div class="form-group pt-3">
                    <label for="postAuthor">Category</label>
                    <select class="form-control" name="author" id="postAuthor">
                        <option value="Công Thành">Công Thành</option>
                        <option value="Đông Linh">Đông Linh</option>
                    </select>
                </div>
                <div class="form-group pt-3">
                    <label for="postImage" class="font-weight-bold">Image</label>
                    <input type="text" class="form-control" name="image" id="postImage" value="https://picsum.photos/200/300" placeholder="Enter your image link">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>

</div>