<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <div class="container">
    <a class="navbar-brand" href="/">Blogger</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avt-blogger mr-5" src="/img/avt.png" alt="avt-blogger">
            <span class="font-weight-bold">Công Thành</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/news">Lastest Blog</a>
            <a class="dropdown-item" href="/news/create">Create new blog</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/blog">My blog</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


