<div class="m-3">
  <form method="POST">
    <label for="search-input" class="form-label">Nhập từ khóa</label>
    <input
      type="text"
      name="q"
      class="form-control"
      id="search-input"
      placeholder="Nhập từ khóa của bạn ... "
    />
    <select class="form-control mt-2" name="gender" id="gender">
      <option value="">-- Chọn giới tính --</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Tìm kiếm</button>
  </form>
</div>