<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger - NCT</title>
  </head>
  <body>

    {{!-- Part Header --}}
    {{> page/header }}

    {{!-- Main content --}}
    <div class="container">
      {{{ body }}}
    </div>

    {{!-- Part footer --}}
    {{> page/footer }} 

  </body>
</html>